@charset "UTF-8";
*{
	box-sizing: border-box;
}
body{
	margin: 0;
	line-height: 1.6;
}
.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}
.course-card {
  padding: 20px;
  flex: 1;
  border: 1px solid #cccccc;
}
.course-card img {
  display: block;
  width: 100%;
  height: auto;
}
.course-card a {
	display: inline-block;
	margin-top: 10px;
	padding: 8px 16px;
}
.application-section{
	margin-top: 40px;
}
.form-item label {
  margin-bottom: 6px;
  display: block;
}
.course-section {
	box-sizing: border-box;
	gap: 20px;
	
}
.course-list {
	display: flex;
	gap: 20px;
}
.form-item {
	margin-bottom: 16px;
}
button{
	padding: 10px 20px;
}
.form-item input,
.form-item select {
	width: 100%;
	padding: 10px;
}